<html>
 <head>
   <meta charset="utf-8">
   <title>SpeechPortal</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
 </head>
 <body onclick='window.location.href="/viewer"'>
  <div class="container gray">
    <div class="row">
      <div class="one-half column" style="margin-top: 20%">
        <h1><b>SpeechPortal</b></h1>
        <p>Click anywhere to get started!</p>
      </div>
    </div>
  </div>

 </body>
</html>
